[Unit]
Description=NB-IoT Service
After=network.target

[Service]
Environment="PATH=/usr/local/go/bin:/home/e2e/go/bin"
ExecStart=/home/e2e/Arduino/nbiot-e2e/nbiot-service/run.sh
WorkingDirectory=/home/e2e/Arduino/nbiot-e2e/nbiot-service
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
User=e2e

[Install]
WantedBy=multi-user.target
